// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Palatino, serif;
}

.axis path {
  fill: none;
  stroke: black;
}

.axis text {
  font-size: 12px;
}

.arc {
  stroke: black;
  fill: none;
  stroke-width: 0.5px;
}

.with-opacity {
  opacity: 0.6;
}

.pull-request {
  stroke: steelblue;
}
